# Ignore everything except JS-ey or CSS code.
# Based on https://stackoverflow.com/a/70715829/458193
*
!**/*.js
!**/*.jsx
!**/*.ts
!**/*.tsx
!*/

!**/*.css

# More specific ignores go below.
.expo
android
ios
src/locale/locales
lib/react-compiler-runtime
bskyweb/static
coverage
web-build
