# Ignore everything except the code in src/.
# Based on https://stackoverflow.com/a/70715829/458193
*
!src/**/*.js
!src/**/*.jsx
!src/**/*.ts
!src/**/*.tsx
!*/

# More specific ignores go below.
src/locale/locales
