.env
test-coverage.out

# Don't check in the binary.
/bskyweb

# Don't accidentally commit JS-generated code
static/js/*.js
static/js/*.map
static/js/*.js.LICENSE.txt
templates/scripts.html
templates/*-embed.html
static/embed/*.html
static/embed/assets/*.js
static/embed/assets/*.css

# Don't ignore this file
!.gitignore
