.env
test-coverage.out

# Don't check in the binary.
/bskyweb
/embedr

# Don't accidentally commit JS-generated code
static/js/*.js
static/js/*.map
static/js/*.js.LICENSE.txt
static/js/empty.txt
static/css/*.css
static/css/*.map
static/css/*.css.LICENSE.txt
static/css/empty.txt
static/media/*.png
static/media/empty.txt
templates/scripts.html
templates/*-embed.html
static/embed/*.html
static/embed/assets/*.js
static/embed/assets/*.css
embedr-static/post-*.js
embedr-static/post-*.css
embedr-static/index-*.js
embedr-static/polyfills-*.js

# Don't ignore this file
!.gitignore
