.rt-editor {
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  position: relative;
}
.rt-editor-light {
  --rt-caret-color: #000000;
}
.rt-editor-dark {
  --rt-caret-color: #ffffff;
}

.rt-overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.rt-segment {
}
.rt-segment-text {
}
.rt-segment-link {
  color: #0085ff;
}

.rt-input {
  caret-color: var(--rt-caret-color);
  color: transparent;
  font: inherit;
  line-height: inherit;
  background: transparent;
  width: 100%;
  border: 0;
  display: block;
  position: relative;
  z-index: 1;
  resize: none;
}
.rt-input::placeholder {
  color: #878788;
  opacity: 1;
}

.rt-overlay,
.rt-input {
  padding: 5px;
  margin: 0 0 10px 8px;
}
