{% extends "base.html" %}

{% block html_head_extra -%}
  {%- if requestURI %}
  <meta property="og:url" content="{{ requestURI }}">
  {% endif -%}
  {%- if imgThumbUrl %}
  <meta property="og:image" content="{{ imgThumbUrl }}">
  <meta property="twitter:image" content="{{ imgThumbUrl }}">
  {%- else -%}
  <meta property="og:image" content="{{ brandSocialCard }}" />
  <meta property="twitter:image" content="{{ brandSocialCard }}"  />
  {% endif -%}
  <meta name="twitter:card" content="summary_large_image" />
  {%- if title %}
  <meta property="og:title" content="{{ title }}" />
  <meta name="twitter:title" content="{{ title }}" />
  {%- else -%}
  <meta property="og:title" content="{{ brandName }}" />
  <meta name="twitter:title" content="{{ brandName }}" />
  {% endif -%}
  <meta name="description" content="Join this group chat on {{ brandName }}" />
  <meta name="og:description" content="Join this group chat on {{ brandName }}" />
  <meta name="twitter:description" content="Join this group chat on {{ brandName }}" />
{%- endblock %}
