{% extends "base.html" %}

{% block head_title %}Error {{ statusCode }} - Bluesky{% endblock %}

{% block noscript_extra %}
  {%- if statusCode == 404 %}
    <h1>404: Not Found</h1>
  {% endif %}
{% endblock %}


{# don't include the bundle on non-404 error pages #}
{% block head_bundle %}
  {% if statusCode == 404 %}
    {{ block.Super }}
  {% else %}
  {% endif %}
{% endblock %}

{%- block body_all %}
  {% if statusCode == 404 %}
    {{ block.Super }}
  {% else %}
    <h1>{{ statusCode }}: Server Error</h1>
    <p>Sorry about that! Our <a href="https://bluesky.statuspage.io/">Status Page</a> might have more context.
  {% endif %}
{% endblock -%}