{% extends "base.html" %}

{% block head_title %}{{ brandTitle }}{% endblock %}

{% block html_head_extra -%}
  <meta property="og:title" content="{{ brandTitle }}" />
  <meta name="twitter:title" content="{{ brandTitle }}" />

  <meta name="description" content="{{ brandDescription }}" />
  <meta name="og:description" content="{{ brandDescription }}" />
  <meta name="twitter:description" content="{{ brandDescription }}" />

  <meta property="og:url" content="{{ brandDomain }}" />
  <meta name="twitter:url" content="{{ brandDomain }}" />

  <meta property="og:image" content="{{ brandSocialCard }}" />
  <meta property="twitter:image" content="{{ brandSocialCard }}"  />

  <meta name="twitter:site" content="{{ brandTwitterSite }}" />
  <meta name="twitter:card" content="summary_large_image" />
{%- endblock %}

{% block noscript_extra %}
<p>This is the home page.
{% endblock %}
