{% extends "base.html" %}

{% block head_title %}Bluesky{% endblock %}

{% block html_head_extra -%}
  <meta name="description" content="See what's next.">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Bluesky Social">
  <meta property="og:description" content="See what's next.">
  <meta property="og:image" content="/static/social-card-default.png">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@bluesky">
{%- endblock %}

{% block noscript_extra %}
<p>This is the home page.
{% endblock %}
