{% extends "base.html" %}

{% block head_title %}Blacksky{% endblock %}

{% block html_head_extra -%}
  <meta property="og:title" content="Blacksky" />
  <meta name="twitter:title" content="Blacksky" />

  <meta name="description" content="Decentralized social media built for community power, culture, and collective freedom." />
  <meta name="og:description" content="Decentralized social media built for community power, culture, and collective freedom." />
  <meta name="twitter:description" content="Decentralized social media built for community power, culture, and collective freedom." />

  <meta property="og:url" content="https://blacksky.community" />
  <meta name="twitter:url" content="https://blacksky.community" />

  <meta property="og:image" content="https://blacksky.community/static/social-card-default-gradient.png" />
  <meta property="twitter:image" content="https://blacksky.community/static/social-card-default-gradient.png"  />

  <meta name="twitter:site" content="@blacksky_algorithms" />
  <meta name="twitter:card" content="summary_large_image" />
{%- endblock %}

{% block noscript_extra %}
<p>This is the home page.
{% endblock %}
