{% extends "base.html" %}

{% block head_title %}
{%- if postView -%}
  @{{ postView.Author.Handle }} on Bluesky
{%- elif requiresAuth and profileHandle -%}
  @{{ profileHandle }} on Bluesky
{%- else -%}
  Bluesky
{%- endif -%}
{% endblock %}

{% block html_head_extra -%}
{%- if postView -%}
  <meta property="og:type" content="article">
  <meta property="profile:username" content="{{ postView.Author.Handle }}">
  {%- if requestURI %}
  <meta property="og:url" content="{{ requestURI }}">
  <link rel="canonical" href="{{ requestURI|canonicalize_url }}" />
  {% endif -%}
  {%- if postView.Author.DisplayName %}
  <meta property="og:title" content="{{ postView.Author.DisplayName }} (@{{ postView.Author.Handle }})">
  {% else %}
  <meta property="og:title" content="@{{ postView.Author.Handle }}">
  {% endif -%}
  {%- if postText %}
  <meta name="description" content="{{ postText }}">
  <meta property="og:description" content="{{ postText }}">
  <meta property="twitter:description" content="{{ postText }}">
  {% endif -%}
  {%- if imgThumbUrls %}
  {% for imgThumbUrl in imgThumbUrls %}
  <meta property="og:image" content="{{ imgThumbUrl }}">
  <meta property="twitter:image" content="{{ imgThumbUrl }}">
  {% endfor %}
  <meta name="twitter:card" content="summary_large_image">
  {% else %}
  <meta property="og:image" content="{{ postView.Author.Avatar }}">
  <meta property="twitter:image" content="{{ postView.Author.Avatar }}">
  <meta name="twitter:card" content="summary">
  {% endif %}
  <meta name="twitter:label1" content="Posted At">
  <meta name="twitter:value1" content="{{ postView.IndexedAt }}">
  {%- if postView.LikeCount %}
  <meta name="twitter:label2" content="Likes">
  <meta name="twitter:value2" content="{{ postView.LikeCount }}">
  {% endif -%}
  {%- if postView.ReplyCount %}
  <meta name="twitter:label3" content="Replies">
  <meta name="twitter:value3" content="{{ postView.ReplyCount }}">
  {% endif -%}
  {%- if postView.RepostCount %}
  <meta name="twitter:label4" content="Reposts">
  <meta name="twitter:value4" content="{{ postView.RepostCount }}">
  {% endif -%}
  <meta property="article:published_time" content="{{ postView.IndexedAt }}">
  <link rel="alternate" type="application/json+oembed" href="https://embed.bsky.app/oembed?format=json&url={{ postView.Uri | urlencode }}" />
  <link rel="alternate" href="{{ postView.Uri }}" />
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "DiscussionForumPosting",
      "author": {
        "@type": "Person",
        {%- if postView.Author.DisplayName %}
        "name": "{{ postView.Author.DisplayName }}",
        "alternateName": "@{{ postView.Author.Handle }}",
        {% else %}
        "name": "@{{ postView.Author.Handle }}",
        {% endif -%}
        "url": "https://bsky.app/profile/{{ postView.Author.Handle }}"
      },
      {%- if postText %}
      "text": "{{ postText }}",
      {% endif %}
      {%- if imageThumbUrls %}
      "image": "{{ imageThumbUrls[0] }}",
      {% endif %}
      "datePublished": "{{ postView.IndexedAt }}",
      "interactionStatistic": [
        {
          "@type": "InteractionCounter",
          "interactionType": "https://schema.org/LikeAction",
          "userInteractionCount": {{ postView.LikeCount }}
        },
        {
          "@type": "InteractionCounter",
          "interactionType": "https://schema.org/CommentAction",
          "userInteractionCount": {{ postView.ReplyCount }}
        },
        {
          "@type": "InteractionCounter",
          "interactionType": "https://schema.org/ShareAction",
          "userInteractionCount": {{ postView.RepostCount + postView.QuoteCount }}
        }
      ]
    }
  </script>
{%- elif requiresAuth and profileHandle -%}
  <meta property="og:type" content="article">
  <meta property="profile:username" content="{{ profileHandle }}">
  {%- if requestURI %}
  <meta property="og:url" content="{{ requestURI }}">
  <link rel="canonical" href="{{ requestURI|canonicalize_url }}" />
  {% endif -%}
  {%- if profileDisplayName %}
  <meta property="og:title" content="{{ profileDisplayName }} (@{{ profileHandle }})">
  {% else %}
  <meta property="og:title" content="@{{ profileHandle }}">
  {% endif -%}
  <meta name="description" content="This post requires authentication to view.">
  <meta property="og:description" content="This post requires authentication to view.">
  <meta property="twitter:description" content="This post requires authentication to view.">
  <meta name="twitter:card" content="summary">
{% endif -%}
{%- endblock %}

{% block noscript_extra -%}
{%- if postView -%}
<div id="bsky_post_summary">
  <h3>Post</h3>
  <p id="bsky_display_name">{{ postView.Author.DisplayName }}</p>
  <p id="bsky_handle">{{ postView.Author.Handle }}</p>
  <p id="bsky_did">{{ postView.Author.Did }}</p>
  <p id="bsky_post_text">{{ postText }}</p>
  <p id="bsky_post_indexedat">{{ postView.IndexedAt }}</p>
</div>
{%- elif requiresAuth and profileHandle -%}
<div id="bsky_post_summary">
  <h3>Post</h3>
  <p id="bsky_handle">{{ profileHandle }}</p>
  <p id="bsky_post_text">This post requires authentication to view.</p>
</div>
{% endif -%}
{%- endblock %}
