{% extends "base.html" %}

{# TODO: link rel=canonical #}
{# TODO: "same as" #}
{% block html_head_extra -%}
{%- if postView %}
  <meta property="og:type" content="article"/>
  <meta name="twitter:card" content="summary"/>
  <meta property="og:title" content="{{ postView.Author.Handle }} - Bluesky"/>
  <meta name="twitter:title" content="{{ postView.Author.Handle }} - Bluesky"/>
  {%- if postView.Author.Avatar %}
  <meta property="og:image" content="{{ postView.Author.Avatar }}"/>
  <meta name="twitter:image" content="{{ postView.Author.Avatar }}"/>
  {% endif -%}
  {%- if postView.Record.Text %}
  <meta property="og:description" content="{{ postView.Record.Text }}"/>
  <meta name="twitter:description" content="{{ postView.Record.Text }}"/>
  {% endif -%}
  <meta name="twitter:label1" content="Author DID">
  <meta name="twitter:value1" content="{{ postView.Author.Did }}">
{% endif -%}
{%- endblock %}

{% block noscript_extra -%}
<div id="bsky_post_summary">
  <h3>Post</h3>
  <p id="bsky_display_name">{{ postView.Author.DisplayName }}</p>
  <p id="bsky_handle">{{ postView.Author.Handle }}</p>
  <p id="bsky_did">{{ postView.Author.Did }}</p>
  <p id="bsky_post_text">{{ postView.Record.Text }}</p>
</div>
{%- endblock %}
