{% extends "base.html" %}

{# TODO: "same as" indication with DID? #}
{# TODO: could work in profileView.DisplayName here, conditionally? #}
{% block html_head_extra -%}
{%- if profileView -%}
  <meta property="og:type" content="article"/>
  <meta name="twitter:card" content="summary"/>
  <meta property="og:title" content="{{ profileView.Handle }} - Bluesky"/>
  <meta name="twitter:title" content="{{ profileView.Handle}} - Bluesky"/>
  {%- if profileView.Description %}
  <meta property="og:description" content="{{ profileView.Description }}"/>
  <meta name="twitter:description" content="{{ profileView.Description }}"/>
  {% endif -%}
  {%- if profileView.Avatar %}
  <meta property="og:image" content="{{ profileView.Avatar }}"/>
  <meta name="twitter:image" content="{{ profileView.Avatar }}"/>
  {% endif -%}
  <meta name="twitter:label1" content="Author DID">
  <meta name="twitter:value1" content="{{ profileView.Did }}">
{%- endif -%}
{%- endblock %}

{% block noscript_extra -%}
<div id="bsky_profile_summary">
  <h3>Profile</h3>
  <p id="bsky_display_name">{{ profileView.DisplayName }}</p>
  <p id="bsky_handle">{{ profileView.Handle }}</p>
  <p id="bsky_did">{{ profileView.Did }}</p>
  <p id="bsky_profile_description">{{ profileView.Description }}</p>
</div>
{%- endblock %}
