{% extends "base.html" %}

{% block html_head_extra -%}
  <meta name="apple-itunes-app" content="app-id=6776276281, app-clip-bundle-id=community.blacksky.app.AppClip, app-clip-display=card">
  {%- if requestURI %}
  <meta property="og:url" content="{{ requestURI }}">
  {% endif -%}
  {%- if imgThumbUrl %}
  <meta property="og:image" content="{{ imgThumbUrl }}">
  <meta property="twitter:image" content="{{ imgThumbUrl }}">
  {%- else -%}
  <meta property="og:image" content="{{ brandSocialCard }}" />
  <meta property="twitter:image" content="{{ brandSocialCard }}"  />
  {% endif -%}
  <meta name="twitter:card" content="summary_large_image" />
  {%- if title %}
  <meta property="og:title" content="{{ title }}" />
  <meta name="twitter:title" content="{{ title }}" />
  {%- else -%}
  <meta property="og:title" content="{{ brandTitle }}" />
  <meta name="twitter:title" content="{{ brandTitle }}" />
  {% endif -%}
  <meta name="description" content="{{ brandPrimaryCTA }}" />
  <meta name="og:description" content="{{ brandPrimaryCTA }}" />
  <meta name="twitter:description" content="{{ brandPrimaryCTA }}" />
{%- endblock %}
