{% extends "base.html" %}

{% block html_head_extra -%}
  {%- if brand.AppleItunesApp %}
  <meta name="apple-itunes-app" content="{{ brand.AppleItunesApp }}">
  {% endif -%}
  {%- if requestURI %}
  <meta property="og:url" content="{{ requestURI }}">
  {% endif -%}
  {%- if imgThumbUrl %}
  <meta property="og:image" content="{{ imgThumbUrl }}">
  <meta property="twitter:image" content="{{ imgThumbUrl }}">
  {%- elif brand.DefaultOGImage -%}
  <meta property="og:image" content="{{ brand.DefaultOGImage }}" />
  <meta property="twitter:image" content="{{ brand.DefaultOGImage }}"  />
  {% endif -%}
  <meta name="twitter:card" content="summary_large_image" />
  {%- if title %}
  <meta property="og:title" content="{{ title }}" />
  <meta name="twitter:title" content="{{ title }}" />
  {%- else -%}
  <meta property="og:title" content="{{ brand.Name }}" />
  <meta name="twitter:title" content="{{ brand.Name }}" />
  {% endif -%}
  <meta name="description" content="Join the conversation" />
  <meta name="og:description" content="Join the conversation" />
  <meta name="twitter:description" content="Join the conversation" />
{%- endblock %}
